<%- include('partials/header') %>


<div class="bg-light p-5 rounded-lg m-3">
  <i class="fa-solid fa-key fa-lg"></i>
  <h1 class="display-4">Secrets</h1>
  <p class="lead">Don't Keep your secrets, share them anonymous </p>
  <hr class="my-4">
    <a href="/register"  class="btn btn-lg btn-light" role="button"> Register </a>
    <a href="/login"  class="btn btn-lg btn-dark" role="button"> Login</a>


<%- include('partials/footer') %>
