<%- include('partials/header') %>

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">You have discovered the Secret</h1>
  <p class="lead">The Secret is hidden </p>
  <hr class="my-4">
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
